nav {
    list-style: none;
    display:flex;
    justify-content: space-around;
    align-items: center;
    width:100vw;
    height:7vh;
    position:fixed;
    z-index:999;
}


#space {
    position: relative;
    margin: 0px;
    width: 45vw;
}

#portfolio{
    position:relative;
    width: 15vw;
    font-size:2vw;
    color:white;
    font-family:Helvetica;
    margin:0px;
    padding:1vw;
}

.navlinks {
  display:flex;
  justify-content:space-around;
  list-style:none;
  width:40vw;
}

.navlinks a{
    text-decoration:none;
    color:white;
    font-family:Helvetica;
    font-size:1.5vw;
    margin:0px;
}
  
.navlinks a:hover {
    color:rgb(255, 141, 141);
    font-family:Helvetica;
    font-size: 2.1vw;;
    margin:0px;
    transition:.5s ease-in-out;
}
  

body {
    background: conic-gradient(from 180deg at 52.36% 51.17%, rgba(159, 180, 255, 0.86) -50.63deg, #FFA5B0 56.25deg, rgba(105, 113, 187, 0.87) 161.24deg, rgba(159, 180, 255, 0.86) 309.38deg, #FFA5B0 416.25deg);
    margin:0px;
}

#container {
    width:100vw;
    display:flex;
    flex-direction:column;
    margin:0px;
}

.years{
    width:100vw;
    background-color:rgb(255, 105, 105);
    margin:0px;
}

.gallery{
    list-style: none;
    display:flex;
    flex-direction:row;
    margin-top:15vh;
    width:100vw;
    position: relative;
    padding:0px;
    justify-content: space-around;
}


#sophomoreyear {
    background: linear-gradient(180deg, #6971BB 0%, #6971BB 45.83%, #FFB5BE 100%);
}

#allhtml {
    width:30vw;
    height:30vh;
    background-image: url("../images/allhtml.png");
    background-size:30vw 30vh;
}

#mockup {
    width:30vw;
    height:30vh;
    background-image: url("../images/mockup.png");
    background-size:30vw 30vh;
}

#mobile {
    width:30vw;
    height:30vh;
    background-image: url("../images/mobile.png");
    background-size:30vw 30vh;
}

#freshmenyear {
    background-image: url("../images/bedroom.jpg");
    background-size: 100vw 100vh;
    background-position:center;
}

#matchbox {
    width:30vw;
    height:40vh;
    background-image: url("../images/matchbox.png");
    background-size:30vw 40vh;
    background-position:center;
}

#sushi {
    width:30vw;
    height:40vh;
    background-image: url("../images/sushi.png");
    background-size:30vw 70vh;
    background-position:center;
}

#book {
    width:30vw;
    height:40vh;
    background-image: url("../images/book.png");
    background-size:30vw 40vh;
    background-position:center;
}

#senioryear {
    background-image: url("../images/blur.jpg");
    background-size: 100vw 100vh;
    background-position:center;
}

#hands {
    width:25vw;
    height:50vh;
    background-image: url("../images/hands.jpg");
    background-size:25vw 70vh;
    background-position:center;
}

#bath{
    width:25vw;
    height:50vh;
    background-image: url("../images/bath.png");
    background-size:25vw 100vh;
    background-position:center;
}

#iseeyou {
    width:25vw;
    height:50vh;
    background-image: url("../images/iseeyou.jpg");
    background-size:25vw 70vh;
    background-position:center;
}

body{
    display:flex;
    flex-direction:column;
}

.arttitle {
    font:1vw;
    font-weight:bold;
    font-family:helvetica;
    margin-top:2vh;
    color:white;
}

.artclass {
    font-size:1vw;
    font-weight:lighter;
    font-family:helvetica;
    margin-top:1vh;
    color:white;
    width:20vw;
}

h1 {
    font-family:helvetica;
    font-weight:bold;
    color:white;
    margin-top:5vh;
    margin-left:87vw;
    font-size:2.5vw;
}

/* tablet */
@media (max-width: 1024px) {

    #matchbox {
        width:30vw;
        height:35vh;
        background-image: url("../images/matchbox.png");
        background-size:30vw 35vh;
        background-position:center;
    }
    
    #sushi {
        width:30vw;
        height:35vh;
        background-image: url("../images/sushi.png");
        background-size:30vw 60vh;
        background-position:center;
    }
    
    #book {
        width:30vw;
        height:35vh;
        background-image: url("../images/book.png");
        background-size:30vw 35vh;
        background-position:center;
    }

    #hands {
        width:25vw;
        height:40vh;
        background-image: url("../images/hands.jpg");
        background-size:25vw 55vh;
        background-position:center;
    }
    
    #bath{
        width:25vw;
        height:40vh;
        background-image: url("../images/bath.png");
        background-size:25vw 80vh;
        background-position:center;
    }
    
    #iseeyou {
        width:25vw;
        height:40vh;
        background-image: url("../images/iseeyou.jpg");
        background-size:25vw 55vh;
        background-position:center;
    }

    .artclass {
        font-size:1.3vw;
        font-weight:lighter;
        font-family:helvetica;
        margin-top:1vh;
        color:white;
        width:20vw;
    }

}


/* Mobile */
@media (max-width: 768px) {

    #allhtml {
        width:30vw;
        height:25vh;
        background-image: url("../images/allhtml.png");
        background-size:30vw 30vh;
    }
    
    #mockup {
        width:30vw;
        height:25vh;
        background-image: url("../images/mockup.png");
        background-size:30vw 25vh;
    }
    
    #mobile {
        width:30vw;
        height:25vh;
        background-image: url("../images/mobile.png");
        background-size:35vw 25vh;
        background-position:center;
    }

    #matchbox {
        width:30vw;
        height:20vh;
        background-image: url("../images/matchbox.png");
        background-size:30vw 20vh;
        background-position:center;
    }
    
    #sushi {
        width:30vw;
        height:20vh;
        background-image: url("../images/sushi.png");
        background-size:30vw 40vh;
        background-position:center;
    }
    
    #book {
        width:30vw;
        height:20vh;
        background-image: url("../images/book.png");
        background-size:30vw 20vh;
        background-position:center;
    }

    #hands {
        width:25vw;
        height:33vh;
        background-image: url("../images/hands.jpg");
        background-size:25vw 40vh;
        background-position:center;
    }
    
    #bath{
        width:25vw;
        height:33vh;
        background-image: url("../images/bath.png");
        background-size:25vw 60vh;
        background-position:center;
    }
    
    #iseeyou {
        width:25vw;
        height:33vh;
        background-image: url("../images/iseeyou.jpg");
        background-size:25vw 40vh;
        background-position:center;
    }

    .artclass {
        font-size:1.5vw;
        font-weight:lighter;
        font-family:helvetica;
        margin-top:1vh;
        color:white;
        width:20vw;
    }

}