nav {
  list-style: none;
  display:flex;
  justify-content: space-around;
  align-items: center;
  width:100vw;
  height:7vh;
  position:fixed;
  z-index:999;
}


#space {
    position: relative;
    margin: 0px;
    width: 60vw;
    height: 100%
}

.navlinks {
  display:flex;
  justify-content:space-around;
  list-style:none;
  width: 40vw;;
}

.navlinks a{
  text-decoration:none;
  color:white;
  font-family:Helvetica;
  font-size:2vw;
  margin:0px;
}

.navlinks a:hover {
  color:rgb(255, 141, 141);
  font-family:Helvetica;
  font-size: 2.1vw;;
  margin:0px;
  transition:.5s ease-in-out;
}

body {
  margin:0;
  transition: all 0.5s ease;
  cursor: pointer;
}

#maingia {
  justify-content: center;
  text-align: center;
  align-items: center;
  padding-top: 45vh;
  font-family: helvetica;
  font-size: 6vw;
  color: white;
}

#window1 {
  width:100vw;
  height:100vh;
  background: conic-gradient(from 180deg at 52.36% 51.17%, rgba(159, 180, 255, 0.86) -50.63deg, #FFA5B0 56.25deg, rgba(105, 113, 187, 0.87) 161.24deg, rgba(159, 180, 255, 0.86) 309.38deg, #FFA5B0 416.25deg);
}

#presentgia {
  width:100vw;
  height:100vh;
  margin:0;
  background: linear-gradient(180deg, #6971BB 0%, #6971BB 45.83%, #FFB5BE 100%)
}

.firsthello {
  margin-top: 4vw;
  font-family: helvetica,arial,sans-serif;
  color:#FFD8D8;
  font-size: 5vw;
  position: absolute;
  width: 27.77777777777778vw;
  margin-left:2vw;
}


.firstabout {
    width: 40vw;
    height:20vh;
    z-index: 2;
    color: #FFD8D8;
    font-family: helvetica, sans-serif,arial;
    margin-left: 53vw;
    margin-top: 51vh;
    font-size:1.1vw;
    position:absolute;
}


#cat {
  position: absolute;
  width: 14vw;
  height: 15vw;
  left: 48vw;
  margin-top:68vh;
  box-shadow: inset 0px 4px 4px 122px rgba(255, 131, 61, 0.25);
  object-fit: cover;
}

#clouds {
  position: absolute;
  width: 14vw;
  height: 20vw;
  left: 48vw;
  z-index: 1;
  margin-top: 10vh;
}

#drink {
  position: absolute;
  width: 14.5vw;
  height: 20vw;
  margin-left: 37vw;
  z-index: 2;
  margin-top: 40vh;
}

.sophomoreyear {
  color: rgb(255, 204, 204);
  font-family: helvetica;
  font-weight: bold;
  font-size: 9vh;
  width: 60vh;
  transform: rotate(90deg);
  position: absolute;
  margin-left: -22vh;
  margin-top: 78vh;
}

#freshmengia {
  width:100vw;
  height:100vh;
  background-image: url("../images/bedroom.jpg");
  background-size: 100vw 100vh;
  margin:0;
  overflow:hidden;
}


#secondhello {
  margin-top: 5vw;
  font-family: helvetica,arial,sans-serif;
  color: white;
  font-size: 5vw;
  position: absolute;
  width: 27.77777777777778vw;
  text-align: left;
}

#secondabout {
  width: 35vw;
  height: 20vh;
  margin-left:13vw;
  position:absolute;
  margin-top:-14vh;
  z-index:2;
  color: white;
  font-size:1.1vw;
 font-family: helvetica, sans-serif,arial;
}

#fog {
  position: absolute;
  width: 15vw;
  height: 19vw;
  left: 10vw;
  margin-top:65vh;
}

#windows {
  width: 25vw;
  height: 12vw;
  margin-left:75vw;
  margin-top:100px;
  margin-bottom:0px;
}

#corner {
  position: absolute;
  width: 20vw;
  height: 18vw;
  z-index: 3;
  object-fit: cover;
  margin-top: 48vh;
  margin-left: -80vw;
}

.freshmenyear {
  color: white;
  font-family: helvetica;
  font-weight: bold;
  font-size: 9vh;
  width: 60vh;
  position: absolute;
  transform:rotate(90deg);
  margin-top: 45vh;
  margin-left: 80vw;
}

#hsseniorgia {
  width:100vw;
  height:100vh;
  background-color:rgb(15, 19, 19);
  margin:0;
  background-image: url("../images/blur.jpg");
  background-size: 100vw 100vh;
}


#thirdhello {
  margin-top: 5vw;
  font-family: helvetica,arial,sans-serif;
  color: white;
  font-size: 5vw;
  position: absolute;
  width: 27.77777777777778vw;
  text-align: left;
}

#golden {
  position:absolute;
  width:250px;
  height:250px;
  margin-top:300px;
  left:1000px;
  z-index:2;
}

#night {
  position:absolute;
  width:230px;
  height:330px;
  margin-top:490px;
  left:900px;
}

#thirdabout {
  width: 35vw;
  height: 20vh;
  margin-left:13vw;
  position:absolute;
  z-index: 2;
  font-size:1.1vw;
  color: white;
  font-family: helvetica, sans-serif,arial;
  margin-top:11vw;
}

.hssenioryear {
  color: white;
  font-family: helvetica;
  font-weight: bold;
  font-size: 9vh;
  width: 60vh;
  transform: rotate(90deg);
  position: absolute;
  margin-left: -22vh;
  margin-top: 78vh;
}
