nav {
  list-style: none;
  display:flex;
  justify-content: space-around;
  align-items: center;
  width:100%;
  height:50px;
  position:fixed;
  z-index:999;
}

#space {
    position: relative;
    margin: 0px;
    width: 60%;
    height: 100%
}

.navlinks {
  display:flex;
  justify-content:space-around;
  list-style:none;
  width:40%;
}

.navlinks a{
  text-decoration:none;
  color:white;
  font-family:Helvetica;
  font-size:25px;
  margin:0px;
}

.navlinks a:hover {
  color:rgb(255, 141, 141);
  font-family:Helvetica;
  font-size:25px;
  margin:0px;
  transition:.5s ease-in-out;
  cursor:none;
}

body {
  margin:0;
  transition: all 0.5s ease;
  cursor: url("../images/starcursor.png")
}

#maingia {
      justify-content: center;
      text-align: center;
      align-items: center;
      padding-top: 370px;
      font-family: helvetica;
      font-size: 75px;
      color: white;
}

#window1 {
  width:100%;
  height:100%;
  background: conic-gradient(from 180deg at 52.36% 51.17%, rgba(159, 180, 255, 0.86) -50.63deg, #FFA5B0 56.25deg, rgba(105, 113, 187, 0.87) 161.24deg, rgba(159, 180, 255, 0.86) 309.38deg, #FFA5B0 416.25deg);
}

#presentgia {
  width:100%;
  height:100%;
  margin:0;
  background: linear-gradient(180deg, #6971BB 0%, #6971BB 45.83%, #FFB5BE 100%)
}

.firsthello {
  margin-top: 60px;
  font-family: helvetica,arial,sans-serif;
  color:#FFD8D8;
  font-size: 75px;
  position: absolute;
  width: 400px;
  text-align: left;
}


.firstabout {
    width: 500px;
    z-index: 2;
    color: #FFD8D8;
    font-family: helvetica, sans-serif,arial;
    margin-left: 750px;
    margin-top: 390px;
    position:absolute;
}


#cat {
  position: absolute;
  width: 190;
  height: 220;
  left: 649px;
  margin-top:520px;
  box-shadow: inset 0px 4px 4px 122px rgba(255, 131, 61, 0.25);
  object-fit: cover;
}

#clouds {
  position: absolute;
  width: 200px;
  height: 290;
  left: 668px;
  z-index: 1;
  margin-top: 70px;
}

#drink {
  position: absolute;
  width: 200;
  height: 290;
  left: 530px;
  z-index: 2;
  margin-top: 250px;
}

.sophomoreyear {
  color: rgb(255, 204, 204);
  font-family: helvetica;
  font-weight: bold;
  font-size: 100px;
  width: 500px;
  transform: rotate(90deg);
  position: absolute;
  left:300px;
  margin:0px;
  left: -170px;
  top: 500px;
}

#freshmengia {
  width:100%;
  height:100%;
  background-image: url("../images/bedroom.jpg");
  background-size: 100% 100%;
  margin:0;
  overflow:hidden;
}


#secondhello {
  margin-top: 60px;
  font-family: helvetica,arial,sans-serif;
  color: white;
  font-size: 75px;
  position: absolute;
  width: 400px;
  text-align: left;
}

#secondabout {
  width: 400px;
    height: 200px;
    z-index: 3;
    margin-left:200px;
    position:absolute;
    margin-top:-90px;
    color: white;
    font-family: helvetica, sans-serif,arial;
}

#fog {
  position: absolute;
  width: 200px;
  height: 300px;
  left: 150px;
  margin-top:500px;
}

#windows {
  width: 350px;
  height: 150px;
  left: 1026px;
  margin-left:1100;
  margin-top:100px;
  margin-bottom:0px;
}

#corner {
  position: absolute;
  width: 300px;
  height: 230px;
  left: 306px;
  object-fit:cover;
  margin-top:150px;
}

.freshmenyear {
  color: white;
  font-family: helvetica;
  font-weight: bold;
  font-size: 100px;
  width: 500px;
  position: absolute;
  margin: 0px;
  transform:rotate(90deg);
  top: 500px;
  left: 1100px;
}

#hsseniorgia {
  width:100%;
  height:100%;
  background-color:rgb(15, 19, 19);
  margin:0;
  background-image: url("../images/blur.jpg");
  background-size: 100% 100%;
}


#thirdhello {
  margin-top: 60px;
  font-family: helvetica,arial,sans-serif;
  color: white;
  font-size: 75px;
  position: absolute;
  width: 400px;
  text-align: left;
}

#golden {
  position:absolute;
  width:250px;
  height:250px;
  margin-top:300px;
  left:1000px;
  z-index:2;
}

#night {
  position:absolute;
  width:230px;
  height:330px;
  margin-top:490px;
  left:900px;
}

#thirdabout {
  width: 400px;
    height: 200px;
    z-index: 2;
    padding: 160px;
    color: white;
    font-family: helvetica, sans-serif,arial;
    margin-top:0;
}

.hssenioryear {
  color: white;
  font-family: helvetica;
  font-weight: bold;
  font-size: 100px;
  width: 500px;
  transform: rotate(90deg);
  position: absolute;
  left:300px;
  margin:0px;
  left: -170px;
  top: 500px;
}
