   body{
      background-color: black;
   }
   #nametag-container {width: 753px;
    height: 468px;
    background: linear-gradient(to bottom, #000000 0%,#070419 50%,#ef0027 100%);
    margin: 50px auto 0px;
    position: relative;
    border: 20px  rgb(31, 47, 199) solid;
    overflow: hidden;
    box-sizing: border-box;
    transition-duration: 1s;
    z-index: 0;
    }

   #nametag-container:hover {
      transition-property: all;
      background: linear-gradient(to bottom, #000000 0%,#1f0628 36%,#f77009 100%);
      border: 20px rgb(16, 0, 37) solid;
   }
   
   .profile{
      position: relative;
      width:200;
      height:200;
      border-radius: 200;
      display: inline-block;
      z-index: 5;
   }
   img.normal{
      width:200px;
      height:200px;
      border-radius: 200px;
      position: relative;
      margin-left:255px;
      margin-right: auto;
      margin-bottom:0px ;
      margin-top: 30px;
      transition: ease-in .5s;
      z-index: 3;
   }
   img.halloween{
      position: absolute;
      width:200px;
      height:200px;
      border-radius: 200px;
      margin-left:255px;
      margin-right: auto;
      margin-bottom:0px ;
      margin-top: -200px;
      z-index: 1;
   }

   .profile:hover img.normal{
      opacity:0
   }
   
   .profile:hover img.halloween{
      opacity:1
   }
   
   /*img.normal{
      position: relative;
      top:0;
      z-index: 1;
      width:200;
      height:200;
      border-radius: 200;
   }

   .normal:hover{
      opacity: 0;
   }

   .halloween{
      position:relative;
      top:0;
      z-index: 0;
      width:200;
      height:200;
      border-radius: 200
   }*/

  /* img
    {
       width:200px;
       height:200px;
       border-radius: 200px;
    }
   img.profile
    {z-index: 2;
      width:200px;
      height:200px;
      border-radius: 200px;
      position: absolute;
      margin-left: 255px;
      margin-right: auto;
      margin-bottom:0px ;
      margin-top: 30px;
      transition-duration:.5s;
      cursor: pointer;}
   
  img.profile:hover{
      opacity: 100;
   }

   img.halloween
    { z-index: 1;
       width:200px;
       height:200px;
       border-radius: 200px;
       position: relative;
       margin-left:255px;
       margin-right: auto;
       margin-bottom:0px ;
       margin-top: 30px;}
       */

    h1,
    h2 {
       text-align: center;
       color: white;
       font-family:Arial, Helvetica, sans-serif;
       font-weight: bolder; 
       margin: auto;
       line-height:1.48em;
    }

    h1 {
       font-size: 50px;
       margin-top: 30px;
       position: relative;
    }

    h2 {
       font-size: 30px;
    }
    